@model IList<CTTIMS_Final.Models.Assessment>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Assessment</h4>
        @Html.ValidationSummary(true)
        @if (Model != null)
        {
            <table class="table">
                <tr>
                    <th>
                        Student
                    </th>
                    <th>
                        A1 Max
                    </th>
                    <th>
                        A1 Obtained
                    </th>
                </tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model[i].Enrollment.Student.FirstName)
                            @Html.HiddenFor(model => model[i].EnrollmentID)
                            @Html.HiddenFor(model => model[i].ID)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model[i].A1_Max)
                            @Html.ValidationMessageFor(model => model[i].A1_Max)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model[i].A1_Obt)
                            @Html.ValidationMessageFor(model => model[i].A1_Obt)
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    if (Model != null)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }
    else
    {
        <h5 class="text-danger">Students are not enrolled in this course!</h5>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
