@model IList<CTTIMS_Final.Models.Assessment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model != null)
{
    <p>
        <b>Course:</b>
        @Model[0].Enrollment.InstructorCours.ClassRoom
    </p>
}
<table class="table">
    <tr>
        <th>
            Sr. No.
        </th>
        <th>
            Student Name
        </th>
        <th>
            A1
        </th>
        <th>
            A2
        </th>
        <th>
            A3
        </th>
        <th>
            A4
        </th>
        <th>
            A5
        </th>
        <th>
            Q1
        </th>
        <th>
            Q2
        </th>
        <th>
            Q3
        </th>
        <th>
            Mid Term
        </th>
        <th>
            Send-Up
        </th>
        <th>
            Final
        </th>
        <th>
            Entered On
        </th>
        <th>
            Modified On
        </th>
        <th></th>
    </tr>
    @{ int count = 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    @count;
                          count++;
                }
            </td>
            <td>
                @Html.DisplayFor(model => item.Enrollment.Student.FirstName)&nbsp;@Html.DisplayFor(model => item.Enrollment.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.A1_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.A2_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.A3_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.A4_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.A5_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.Q1_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.Q2_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.Q3_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.Mid_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.SendUp_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.Final_Obt)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(model => item.ModifiedOn)
            </td>
        </tr>
    }

</table>
