@model DBFirstSession.Models.Instructor

@{
    ViewBag.Title = "Details";
}
<style>
    input.hidden {
        position: absolute;
        left: -9999px;
    }

    #profile-image1 {
        cursor: pointer;
        width: 100px;
        height: 100px;
        border: 2px solid #03b1ce;
    }

    .tital {
        font-size: 16px;
        font-weight: 500;
    }

    .bot-border {
        border-bottom: 1px #f8f8f8 solid;
        margin: 5px 0 5px 0;
    }
</style>
<div class="container">
    <div class="row">
        @*<h2>Create your snippet's HTML, CSS and Javascript in the editor tabs</h2>*@
        <div class="row"><span>&nbsp;</span></div>
        <div class="col-md-7 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>User Profile</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div align="center">
                                    @if (Model.Photo != null)
                                    {
                                        string imageBase64 = Convert.ToBase64String(Model.Photo);
                                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                        <img src="@imageSrc" id="profile-image1" class="img-circle img-responsive" />
                                    }
                                    else
                                    {
                                        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                    }

                                    <input id="profile-image-upload" class="hidden" type="file">
                                    @*<div style="color:#999;">click here to change profile image</div>*@
                                    <!--Upload Image Js And Css-->
                                </div>

                                <br>

                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-6">
                                <h4 style="color:#00b1b1;">
                                    @{
                                        string name = Html.DisplayFor(model => model.FirstName).ToString() + " " + Html.DisplayFor(model => model.LastName).ToString();
                                        @name;
                                    }
                                </h4>
                                <p><span>@Html.DisplayFor(model => model.Designation)</span></p>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">


                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.FatherName)
                            </div>
                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.FatherName)
                            </div><div class="clearfix"></div><div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.CNIC)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.CNIC)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.Gender)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.Gender)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.Designation)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.Designation)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.Email)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.Email)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.DeptPosition)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.DeptPosition)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.MobileNo)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.MobileNo)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.PhoneNo)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.PhoneNo)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.PresentAddress)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.PresentAddress)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.PermanentAddress)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.PermanentAddress)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.PresentCity)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.PresentCity)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.PermanentCity)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.PermanentCity)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.ExperienceYear)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.ExperienceYear)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.ExperienceMonth)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.ExperienceMonth)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.JoiningDate)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.JoiningDate)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.ResignationDate)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.ResignationDate)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.Status)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.Status)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.CreatedOn)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.CreatedOn)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.ModifiedOn)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.ModifiedOn)
                            </div><div class="clearfix"></div><div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">
                                @Html.DisplayNameFor(model => model.Department.Name)
                            </div>

                            <div class="col-sm-7 col-xs-6 ">
                                @Html.DisplayFor(model => model.Department.Name)
                            </div><div class="clearfix"></div><div class="bot-border"></div>
                            @*<div class="col-sm-5 col-xs-6 tital ">Middle Name:</div><div class="col-sm-7"> Shankar</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Last Name:</div><div class="col-sm-7"> Huddedar</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Date Of Joining:</div><div class="col-sm-7">15 Jun 2016</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div><div class="col-sm-7">11 Jun 1998</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Place Of Birth:</div><div class="col-sm-7">Shirdi</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Nationality:</div><div class="col-sm-7">Indian</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Relition:</div><div class="col-sm-7">Hindu</div>*@

                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>


                </div>
            </div>
        </div>
        <script>
            $(function () {
                $('#profile-image1').on('click', function () {
                    $('#profile-image-upload').click();
                });
            });
        </script>
    </div>
</div>
