@*@model IEnumerable<CTTIMS_Final.Models.Instructor>*@

@model PagedList.IPagedList<CTTIMS_Final.Models.Instructor>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            FatherName
        </th>
        <th>
            CNIC
        </th>
        <th>
            Gender
        </th>
        <th>
            Designation
        </th>
        <th>
            Email
        </th>
        <th>
            DeptPosition
        </th>
        <th>
            MobileNo
        </th>
        <th>
            PhoneNo
        </th>
        <th>
            PresentAddress
        </th>
        <th>
            PermanentAddress
        </th>
        <th>
            PresentCity
        </th>
        <th>
            PermanentCity
        </th>
        <th>
            ExperienceYear
        </th>
        <th>
            ExperienceMonth
        </th>
        <th>
            JoiningDate
        </th>
        <th>
            ResignationDate
        </th>
        <th>
            Photo
        </th>
        <th>
            Status
        </th>
        <th>
            CreatedOn
        </th>
        <th>
            ModifiedOn
        </th>
        <th>
            Department.Name
        </th>
        <th>
            User.UserName
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Designation, Enum.GetName((typeof(DBFirstSession.Models.Designation)), int.Parse(item.Designation)))*@
                @*@Html.DisplayFor(modelItem => item.Designation)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermanentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermanentCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResignationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    @*new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@